* {
    margin: 0px;
    padding: 0px;
}

#contenedorPrincpal {
    margin-top: 70px;
}

#tituloPagina {
    background-color: #F9F5EF;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    width: 100%;
}

#contenedorProductos {
    padding: 30px;
    position: relative;
}

#carritoSinArticulos {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

body hr {
    border: 0px;
    background-color: #FF4713 !important;
    opacity: 100%;
    height: 2px;
}

.producto {
    display: flex;
}

.imagenProducto {
    width: 30%;
}

.detallesProducto {
    width: 70%;
}

.tituloProducto {
    height: 30px;
}

/* -- CONTADOR DE ARTÍCULOS -- */
.contador {
    display: inline-flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.contador a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin: 0 10px;
    cursor: pointer;
}

.contador a:hover {
    color: blue; /* Cambia el color al pasar el mouse */
}

.valor {
    margin: 0 10px;
}

/* -- SECCION AYUDA -- */
#contenedorAyuda {
    background-color: #F9F5EF;
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}

#contenedorCentradoAyuda {
    text-align: center;
}

#contenidoAyuda a {
    color: #FF4713;
}

/* -- SECCION DERECHA -- */
#contenedorCarrito {
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

#contenedorCompra {
    background-color: #F9F5EF;
    padding: 25px;
}

#contenedorPrecios {
    margin-top: 20px;
}

.contenedorDetallesPrecios {
    padding: 0px !important;
}

/* Por defecto, invisible */
#contenedorDescuentoAplicado{
    display: none;
}

/* -- SECCION CÓDIGO PROMOCIONAL -- */
#contenedorIntroducirCodigo {
    padding: 0 20px;
    padding-left: 0px !important;
    display: flex;
    border-bottom: 2px solid black;
    background-color: white;
    margin-top: 15px;
}

#codigoPromocional{
    width: 100%;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px solid black;
    height: 40px;
    margin-top: 10px;
    padding-left: 20px;
}

#contenedorIntroducirCodigo input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 14px;
    background-color: transparent;
}

#contenedorIntroducirCodigo button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

#contenedorErrorCodigo{
    margin-top: 10px;
    display: none;
}

#contenedorCodigoAplicado{
    margin-top: 10px;
    display: none;
}

/* -- contenedor Pagar -- */
#contenedorPago{
    display: flex;
    justify-content: center;
    align-items: center;
}