/* -- GENERAL -- */
.botonPedirAhoraPrimario:hover{
    background-color: #FFFFFF;
    padding-top: 7px;
    padding-left: 35px !important;
    padding-right: 10px !important;
    display: inline-flex;
    height: 40px;
    color: black !important;
    border: 2px solid black;
}
a{
    text-decoration: none !important;
    color: black !important;
}


/* -- MIGAS DE PAN -- */
.migasDePan{
    margin-top: 90px;
    width: 100%;
    padding: 10px 25px;
}

/* -- Contenedores Principales -- */
.contenedorPrincipal{
    display: flex;
    padding-bottom: 30px;
}

.contenedorFiltros{
    background-color: #F9F5EF;
    width: 20%;
    padding-top: 40px;
}

.contenedorContenido{
    width: 80%;
}

.tituloContenedor{
    padding-left: 40px;
}

/* -- Filtros -- */
.contenedorFiltrosSticky{
    margin-left: 20px;
    position: sticky;
    top: 100px;
    z-index: 1000;
}

.contenidoFiltroCategorias{
    margin-top: 5px;
    margin-left: 20px;
}

.contenidoFiltroPrecios{
    margin-top: 5px;
    margin-left: 20px;
}

.separadorFiltros{
    padding-right: 30px;
}

.contenedorEliminarFiltros{
    display: none;
    margin-top: 15px;
    margin-left: 20px;
}

.mostrarContenedorEliminarFiltros{
    display: block !important;
}

/* -- Configuración del aspecto del contenedor --*/
.contenedorProductos{
    display: grid;
    width: 100%;
}
.contenidoProductos{
    margin-left: 30px;
    margin-right: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/* -- Contenedores generales -- */
.contenedorProducto{
    width: 100%;
    border-top: 1px solid #FF4713;
    border-bottom: 1px solid #FF4713;
    border-left: 1px solid #FF4713;
    border-right: 1px solid #FF4713;
    padding: 25px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.separadorImagen{
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedorProducto hr{
    border: 0px;
    background-color: #FF4713 !important;
    opacity: 100%;
    height: 2px;
}

/* -- Pagina sin productos -- */
.busquedaSinResultados{
    margin-left: 15px;
    width: 600px;
}