/* --- CABECERA --- */
header {
    background-image: url('../media/images/BG/backgroundMiCuenta.webp');
    background-position: center;
    background-size: cover;
    margin-top: 70px;
    height: 220px;
    position: relative;
}
#tituloPagina {
    position: absolute;
    bottom: 20px;
    left: 30px;
    font-size: 24px;
    font-weight: bold;
}

/* --- BOTONES LATERAL IZQUIERDO --- */
#menuLateral{
    padding-left: 80px;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-right: 80px;
}
#seccionesMenuLateral{
    color: black;
    margin-top: 50px;
}
#seccionesMenuLateral button{
    border: none;
    background-color: transparent;
}
#seccionesMenuLateral hr{
    border: 0px;
    background-color: #FF4713 !important;
    opacity: 100%;
    height: 1px;
}

/* --- CONTENIDO PRINCIPAL --- */
#contenidoPrincipal{
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 200px;
    padding-bottom: 50px;
}
@media (max-width: 1200px){
    #contenidoPrincipal{
        padding-right: 50px;
    }
}

.tituloDatos{
    margin-top: 50px;
}
.contenedorDatos{
    margin-top: 20px;
    border: 2px solid #FF4713;
    padding: 20px;
}
#contenidoPrincipal button{
    background-color: transparent;
    border: 0px;
}

/* DATOS */
#contenedorEditarDatos{
    display: none;
}
#formularioEditarDatos{
    margin-top: 20px;
    border: 2px solid #FF4713;
    padding: 20px;
}
#formularioEditarDatos input{
    border: none;
    border-bottom: 1px solid black;
    width: 70%;
}

/* DIRECCIONES */
#contenedorAñadirDirecciones{
    display: none;
}
#contenedorAñadirDirecciones input{
    border: none;
    border-bottom: 1px solid black;
}
.columunaNumero{
    display: block;
}
@media (max-width: 768px){
    .columnaNumero{
        display: none;
    }
}

/* DATOS BANCARIOS */
#contenedorEditarDatosBancarios{
    margin-top: 20px;
    border: 2px solid #FF4713;
    padding: 20px;
    display: none;
}
#contenedorEditarDatosBancarios input{
    border: none;
    border-bottom: 1px solid black;
    width: 70%;
}
#formularioAñadirDatosBancarios{
    margin-top: 20px;
}

/* ATENCION AL CLIENTE */
.contenedorInferior{
    padding-top: 60px;
}

/* Por defecto */
#contenedorMisPedidos, #contenedorAtencionCliente {
    display: none;
}


/* -- MIS PEDIDOS -- */
.tituloSeccion{
    padding-top: 30px;
    margin-bottom: 20px;
}