.contenedorGeneral{
    padding-top: 100px;
}

.contenidoGeneral{
    background-color: #F9F5EF;
    margin-top: 100px;
    margin-bottom: 100px;
}

.contenidoInformacion{
    padding-top: 100px;
    margin-bottom: 100px;
}

.contenidoInformacion a{
    color: #FF4723;
}

#contenedorBotones{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.botones{
    text-decoration: none;
}