/* -- GENERAL -- */
#contenedorGeneral{
    margin-top: 90px !important;
}

a{
    color: black !important;
    text-decoration: none !important;
}

.linkMigasPan:hover{
    text-decoration: underline !important;
    text-decoration-color: #df2d00 !important;
    text-decoration-thickness: 2px !important;
}

/* -- CONTENEDOR IZQUIERDO -- */
#contenedorIzquierdo{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* -- CONTENEDOR DERECHO -- */
#contenedorDetalles{
    width: 70%;
    margin-top: 100px;
    margin-left: 20px;
    background-color: #F9F5EF;
    padding: 35px;
}
@media (max-width: 1200px){
    #contenedorDetalles{
        width: 90%;
    }
}


/* -- CONTENIDO -- */
#tituloDetalles{
    margin-top: 15px;
}

#subtituloDetalles{
    margin-top: 35px;
}

#ingredientesDefault{
    margin-top: 35px;
}

#contenedorIngredienteDefault{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.contenidoIngredienteDefault{
    border: 1px solid grey;
    border-radius: 15px;
    display: inline-block;
    padding: 5px 30px;
    height: 40px;
    background-color: white;
}

/* -- Texto Información del default -- */
#iconoInformacionIngredientesDefault {
    margin-left: 6px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    top: -3px;
}
#iconoInformacionIngredientesDefault::after {
    content: "Ingredientes que contiene el producto por defecto.";
    position: absolute;
    top: 50%; /* Alinea verticalmente al centro */
    left: 100%; /* Posiciona el texto a la derecha del ícono */
    transform: translateX(10px) translateY(-50%); /* Desplaza el texto a la derecha y lo centra verticalmente */
    opacity: 0;
    visibility: hidden;
    background-color: #F9F5EF;
    border: 1px solid black;
    height: 60px;
    width: 360px;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: pre-line; /* Permite los saltos de línea */
    transition: opacity 0.3s, visibility 0s 0.3s;
}
#iconoInformacionIngredientesDefault:hover::after {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s;
}

/* -- BOTONES INFERIORES -- */
#contenedorPrecio, #contenedorInferior{
    padding-top: 30px;
}

/* -- SECCION PRODUCTOS SIMILARES -- */
#contenedorSeccionProductosSimilares{
    margin-top: 50px;
}

#contenidoSeccionProductosSimilares{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 30px;
    margin-bottom: 60px;
}

.contenedorPizzasSeccionProductosSimilares{
    width: 20%;
    height: auto;
    border-top: 2px solid #FF4713;
    border-bottom: 2px solid #FF4713;
    border-left: 1px solid #FF4713;
    border-right: 1px solid #FF4713;
    padding: 25px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.separadorImagenSeccionProductosSimilares{
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Ocultar último contenedor y ensanchar*/
@media (max-width: 1600px){
    .contenedorPizzasSeccionProductosSimilares:nth-child(n+5) { 
        display: none;
    }
    .contenedorPizzasSeccionProductosSimilares {
        width: 25%;
    }

}
@media (max-width: 1300px){
    .contenedorPizzasSeccionProductosSimilares:nth-child(n+4) { 
        display: none;
    }
    .contenedorPizzasSeccionProductosSimilares {
        width: 33.33%;
    } 
}
@media (max-width: 900px){
    .contenedorPizzasSeccionProductosSimilares:nth-child(n+3) { 
        display: none;
    }
    .contenedorPizzasSeccionProductosSimilares {
        width: 100%;
    } 
}

#contenedorSeccionProductosSimilares hr {
    border: 0px;
    background-color: #FF4713 !important;
    opacity: 100%;
    height: 2px;
}