<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN</title>

    <!-- LINKS A CSS -->
    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="css/admin.css">

    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">

    <!-- FUENTES -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

</head>
<body>
    
    <div class="container-fluid">
        <div class="row">

            <div id="tituloAdmin" class="col-12">
                <h2>PANEL DE ADMINISTRADOR</h2>
            </div>

            <div id="lateralPanel" class="col-2">
                <button id="botonObtenerAllPedidos" class="botonesLaterales" type="button">PEDIDOS</button>
                <button id="botonObtenerAllUsuarios" class="botonesLaterales" type="button">USUARIOS</button>
                <button id="botonObtenerAllProductos" class="botonesLaterales" type="button">PRODUCTOS</button>
                <button id="botonObtenerAllIngredientes" class="botonesLaterales" type="button">INGREDIENTES</button>
                <button id="botonObtenerAllOfertas" class="botonesLaterales" type="button">OFERTAS</button>
            </div>

            <div id="contenedorPrincipal" class="col-10">

                <div id="contenedorDefault">
                    <p class="p3">Ha accedido al panel de administrador.</p>
                    <p class="p4">Seleccione una de las opciones de la izquierda.</p>
                </div>

                <!-- CONTENEDOR PEDIDOS -->
                <div id="contenedorPedidos" class="container-fluid">
                    
                    <!-- Boton crear pedido -->
                    <button type="button" class="btn btn-primary botonAñadir" data-bs-toggle="modal" data-bs-target="#modalCrearPedido">
                        Crear Pedido
                    </button>

                    <!-- Modal Crear pedido -->
                    <div class="modal fade" id="modalCrearPedido" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Crear pedido</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>

                                <!-- Formulario dentro del modal -->
                                <form id="formularioCrearPedido" method="POST" enctype="multipart/form-data">
                                    <div class="modal-body">

                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                        <input type="submit" name="crearPedido" id="crearPedido" class="btn btn-success" value="Añadir">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- Modal Ver Productos -->
                    <div class="modal fade" id="modalVerProductos" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Productos del pedido</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>

                                <div class="modal-body container-fluid">
                                    <div id="tablaProductos" class="row">
                                        <div class="col-3">
                                            <p class="p3">Producto</p>
                                        </div>
                                        <div class="col-3">
                                            <p class="p3">Cantidad</p>
                                        </div>
                                        <div class="col-3">
                                            <p class="p3">Precio unidad</p>
                                        </div>
                                        <div class="col-3">
                                            <p class="p3">Precio</p>
                                        </div>
                                    </div>

                                    <div id="contenidoTablaProductos"></div>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="tablaPedidos">
                        <div class="tituloTable row">
                            <div class="col-1">
                                <p class="h4">ID</p>
                            </div>
                            <div class="col-3">
                                <p class="h4">Productos</p>
                            </div>
                            <div class="col-1">
                                <p class="h4">Precio</p>
                            </div>
                            <div class="col-4">
                                <p class="h4">Datos entrega</p>
                            </div>
                            <div class="col-1">
                                <p class="h4">Estado</p>
                            </div>
                            <div class="col-2">
                                <p class="h4">Acciones</p>
                            </div>
                        </div>

                        <div id="contenedorDatosPedidos"></div>

                    </div>

                </div>

                <!-- CONTENEDOR USUARIOS -->
                <div id="contenedorUsuarios" class="container-fluid">

                    <!-- Boton agregar usuario -->
                    <button type="button" class="btn btn-primary botonAñadir" data-bs-toggle="modal" data-bs-target="#modalAñadirUsuario">
                        Añadir Usuario
                    </button>

                    <!-- Modal Crear usuario -->
                    <div class="modal fade" id="modalAñadirUsuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Crear usuario</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>

                                <!-- Formulario dentro del modal -->
                                <form id="formularioCrearUsuario" method="POST" enctype="multipart/form-data">
                                    <div class="modal-body">

                                        <div class="mb-3">
                                            <label for="añadir_usuario" class="form-label">Usuario</label>
                                            <input type="text" id="añadir_usuario" name="añadir_usuario" class="form-control">
                                        </div>

                                        <div class="mb-3">
                                            <label for="añadir_nombre_completo" class="form-label">Nombre completo</label>
                                            <input type="text" id="añadir_nombre_completo" name="añadir_nombre_completo" class="form-control">
                                        </div>

                                        <div class="mb-3">
                                            <label for="añadir_email" class="form-label">Email</label>
                                            <input type="email" id="añadir_email" name="añadir_email" class="form-control">
                                        </div>

                                        <div class="mb-3">
                                            <label for="añadir_telefono" class="form-label">Teléfono</label>
                                            <input type="number" id="añadir_telefono" name="añadir_telefono" class="form-control">
                                        </div>

                                        <div class="mb-3">
                                            <label for="añadir_contraseña" class="form-label">Contraseña</label>
                                            <input type="password" id="añadir_contraseña" name="añadir_contraseña" class="form-control">
                                        </div>

                                        <div class="mb-3">
                                            <label for="añadir_tarjeta_bancaria" class="form-label">Tarjeta bancaria</label>
                                            <input type="text" id="añadir_tarjeta_bancaria" name="añadir_tarjeta_bancaria" class="form-control">
                                        </div>

                                        <div class="mb-3">
                                            <label for="añadir_fecha_vencimiento" class="form-label">Fecha de vencimiento</label>
                                            <input type="date" id="añadir_fecha_vencimiento" name="añadir_fecha_vencimiento" class="form-control">
                                        </div>

                                        <div class="mb-3">
                                            <label for="añadir_cvv" class="form-label">CVV</label>
                                            <input type="number" id="añadir_cvv" name="añadir_cvv" class="form-control">
                                        </div>

                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                        <input type="submit" name="crearUsuario" id="crearUsuario" class="btn btn-success" value="Añadir">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- Modal Editar Usuario -->
                    <div class="modal fade" id="modalEditarUsuario" tabindex="-1" role="dialog" aria-labelledby="modalEditarUsuarioLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalEditarUsuarioLabel">Editar Usuario</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>

                                <!-- Formulario dentro del modal -->
                                <form id="formularioEditarUsuario" method="POST" enctype="multipart/form-data">
                                    <div class="modal-body">

                                        <input type="hidden" id="editar_id" name="id">

                                        <div class="mb-3">
                                            <label for="editar_usuario" class="form-label">Usuario</label>
                                            <input type="text" id="editar_usuario" name="usuario" class="form-control">
                                        </div>

                                        <div class="mb-3">
                                            <label for="editar_nombre_completo" class="form-label">Nombre completo</label>
                                            <input type="text" id="editar_nombre_completo" name="nombre_completo" class="form-control">
                                        </div>

                                        <div class="mb-3">
                                            <label for="editar_email" class="form-label">Email</label>
                                            <input type="email" id="editar_email" name="email" class="form-control">
                                        </div>

                                        <div class="mb-3">
                                            <label for="editar_telefono" class="form-label">Teléfono</label>
                                            <input type="number" id="editar_telefono" name="telefono" class="form-control">
                                        </div>

                                        <div class="mb-3">
                                            <label for="editar_tarjeta_bancaria" class="form-label">Tarjeta bancaria</label>
                                            <input type="text" id="editar_tarjeta_bancaria" name="tarjeta_bancaria" class="form-control">
                                        </div>

                                        <div class="mb-3">
                                            <label for="editar_fecha_vencimiento" class="form-label">Fecha de vencimiento</label>
                                            <input type="date" id="editar_fecha_vencimiento" name="fecha_vencimiento" class="form-control">
                                        </div>

                                        <div class="mb-3">
                                            <label for="editar_cvv" class="form-label">CVV</label>
                                            <input type="number" id="editar_cvv" name="cvv" class="form-control">
                                        </div>

                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                        <input type="submit" name="editarUsuario" id="editarUsuario" class="btn btn-success" value="Guardar cambios">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- Modal Cambiar Contraseña -->
                    <div class="modal fade" id="modalCambiarContraseña" tabindex="-1" role="dialog" aria-labelledby="modalCambiarContraseña" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalEditarUsuarioLabel">Cambiar contraseña</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>

                                <!-- Formulario dentro del modal -->
                                <form id="formularioCambiarContraseña" method="POST" enctype="multipart/form-data">
                                    <div class="modal-body">

                                        <input type="hidden" id="cambiar_contraseña_id" name="id">

                                        <div class="mb-3">
                                            <label for="cambiar_contraseña" class="form-label">Nueva contraseña</label>
                                            <input type="text" id="cambiar_contraseña" name="cambiar_contraseña" class="form-control">
                                        </div>

                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                        <input type="submit" name="action" id="cambiar_contraseña_action" class="btn btn-success" value="Guardar">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- TABLA DE USUARIOS -->
                    <div id="tablaUsuarios">

                        <div class="tituloTable row">
                            <div class="col-1">
                                <p class="h4">ID</p>
                            </div>
                            <div class="col-5">
                                <p class="h4">Datos usuario</p>
                            </div>
                            <div class="col-4">
                                <p class="h4">Datos bancarios</p>
                            </div>
                            <div class="col-2">
                                <p class="h4">Acciones</p>
                            </div>
                        </div>
    
                        <div id="contenedorDatosUsuarios"></div>

                    </div>

                </div>

                <!-- CONTENEDOR PRODUCTOS -->
                <div id="contenedorProductos" class="container-fluid">
                    <h4>Sin funcionalidad</h4>
                </div>

                <!-- CONTENEDOR INGREDIENTES -->
                <div id="contenedorIngredientes" class="container-fluid">
                    <h4>Sin funcionalidad</h4>
                </div>

                <!-- CONTENEDOR OFERTAS -->
                <div id="contenedorOfertas" class="container-fluid">
                    <h4>Sin funcionalidad</h4>
                </div>

            </div>
        </div>
    </div>

    <!-- Bootstrap Bundle with Popper (JS) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

    <!-- Scripts -->
    <script src="views/admin/pedidos.js"></script>
    <script src="views/admin/usuarios.js"></script>
    <!--
    <script src="views/admin/productos.js"></script>
    <script src="views/admin/ingredientes.js"></script>
    <script src="views/admin/ofertas.js"></script>
    -->

    <!-- Script de la página -->
    <script>

        const contenedorDefault = document.getElementById('contenedorDefault');
        const contenedorPedidos = document.getElementById('contenedorPedidos');
        const contenedorUsuarios = document.getElementById('contenedorUsuarios');
        const contenedorProductos = document.getElementById('contenedorProductos');
        const contenedorIngredientes = document.getElementById('contenedorIngredientes');
        const contenedorOfertas = document.getElementById('contenedorOfertas');

        // Carga por defecto de la página
        document.addEventListener("DOMContentLoaded", () => {

            contenedorDefault.style.display = 'block';
            contenedorPedidos.style.display = 'none';
            contenedorUsuarios.style.display = 'none';
            contenedorProductos.style.display = 'none';
            contenedorIngredientes.style.display = 'none';
            contenedorOfertas.style.display = 'none';
        });
        
        // Botones laterales
        document.querySelector('#botonObtenerAllPedidos').addEventListener('click', function() {
            contenedorDefault.style.display = 'none';
            contenedorPedidos.style.display = 'block';
            contenedorUsuarios.style.display = 'none';
            contenedorProductos.style.display = 'none';
            contenedorIngredientes.style.display = 'none';
            contenedorOfertas.style.display = 'none';
        });
        document.querySelector('#botonObtenerAllUsuarios').addEventListener('click', function() {
            contenedorDefault.style.display = 'none';
            contenedorPedidos.style.display = 'none';
            contenedorUsuarios.style.display = 'block';
            contenedorProductos.style.display = 'none';
            contenedorIngredientes.style.display = 'none';
            contenedorOfertas.style.display = 'none';
        });
        document.querySelector('#botonObtenerAllProductos').addEventListener('click', function() {
            contenedorDefault.style.display = 'none';
            contenedorPedidos.style.display = 'none';
            contenedorUsuarios.style.display = 'none';
            contenedorProductos.style.display = 'block';
            contenedorIngredientes.style.display = 'none';
            contenedorOfertas.style.display = 'none';
        });
        document.querySelector('#botonObtenerAllIngredientes').addEventListener('click', function() {
            contenedorDefault.style.display = 'none';
            contenedorPedidos.style.display = 'none';
            contenedorUsuarios.style.display = 'none';
            contenedorProductos.style.display = 'none';
            contenedorIngredientes.style.display = 'block';
            contenedorOfertas.style.display = 'none';
        });
        document.querySelector('#botonObtenerAllOfertas').addEventListener('click', function() {
            contenedorDefault.style.display = 'none';
            contenedorPedidos.style.display = 'none';
            contenedorUsuarios.style.display = 'none';
            contenedorProductos.style.display = 'none';
            contenedorIngredientes.style.display = 'none';
            contenedorOfertas.style.display = 'block';
        });

    </script>

</body>
</html>
